:root {
  --b-r: 20px;
  --round: 50%;
  --serif: "Lora", serif;
  --main: #00758f;
  --dark: #073742;
  --dark2: #085fa6;
  --light: #08a698;
  --light2: #089c65;
  --contrast: #dba216;
}

html {
  scroll-behavior: smooth;
}

body,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  background: linear-gradient(
    180deg,
    rgba(8, 166, 152, 1) 0%,
    rgba(7, 55, 66, 1) 100%
  );
  color: white;
  width: 100%;
  text-align: center;
  line-height: 1.5;
  /* background-image: url(svg/wave.svg);
  background-position: bottom;
  background-repeat: no-repeat; */
}

a {
  color: inherit;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline solid white;
  text-decoration-skip-ink: auto;
}

button {
  font-family: inherit;
  outline: none;
  border: none;
}

h1 {
  font-size: 3rem;
  padding: 5%;
}

h1,
h2 {
  margin: 0;
  letter-spacing: 0.2rem;
}

.section_header h2 {
  color: var(--contrast);
}

main {
  width: 75%;
  margin: 0 auto;
}

nav {
  color: var(--light);
  width: 100%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 50;
  overflow-x: hidden;
  transition: 0.5s;
}

svg,
.show {
  display: block;
}

.hide {
  display: none;
}

.menu {
  background-color: var(--main);
  padding: 0;
  margin: 0;
  position: relative;
  top: 0;
  width: 100%;
  text-align: center;
}

.menu a {
  padding: 8px;
  font-size: 36px;
  color: var(--contrast);
  display: block;
  transition: 0.3s;
}

.menu a:hover {
  background-color: var(--dark2);
}

.menu > li {
  display: block;
  transition: 0.5s ease;
}

.close {
  position: inherit;
}

ul > li:hover {
}

.section_header {
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  scroll-margin-top: 1rem;
  margin: 3rem 0 2rem 0;
}

.header_gallery {
  margin-top: 0;
}

.span_serif {
  font-family: var(--serif);
}

.span_color {
  color: var(--contrast);
}

.span_tiny {
  font-size: 0.8rem;
}

.section_half p:first-of-type:first-letter,
.indent p:first-of-type:first-letter {
  font-size: 1.5rem;
  line-height: 0;
  color: var(--contrast);
}

.section_full {
  min-height: 100vh;
}

.container_top {
  width: 80%;
  margin: 10% auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  height: 100%;
  width: 100%;
  font-size: 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text_container {
  max-width: 60ch;
  margin: 0 auto;
  text-align: justify;
  margin-bottom: 2rem;
}

.indent > p + p {
  text-indent: 1.5em;
}

.no-indent {
  text-indent: 0;
}

.section_half {
  height: 100%;
  width: 50%;
  display: inline-block;
  vertical-align: top;
  font-size: 1rem;
}

/* BUTTONS & IMAGES */

.bug_img {
  max-width: 100%;
  float: right;
  padding: 3%;
  display: block;
}

.button_img {
  width: 60px;
  opacity: 0.7;
  transition: 0.3s ease-in-out;
}

.button_fixed {
  position: fixed;
}

.img_min {
  border-radius: var(--b-r);
  background-color: transparent;
  padding: 1rem;
  filter: grayscale(1);
  transition: 0.3s ease;
}

.me_img {
  width: 80%;
  object-fit: contain;
}

.social_img:hover {
  transform: scale(1.2);
}

.social_img:hover,
.button_img:hover,
.card:hover {
  opacity: 1;
}

.img_min:hover,
.card:hover {
  box-shadow: 0px 0px 15px black;
  opacity: 1;
  filter: none;
}

.miniature {
  border-radius: 20px 20px 0 0;
  max-width: 100%;
  object-fit: contain;
  display: block;
}

.social_img {
  width: 3rem;
  padding: 2% 5%;
  opacity: 0.7;
  transition: 0.3s ease-in;
}

.divein {
  background-color: var(--dark);
  padding: 3% 5%;
  margin-top: 5%;
  border-radius: var(--b-r);
  cursor: pointer;
  font-size: 2rem;
  font-weight: bold;
  color: var(--contrast);
  z-index: 10;
}

.menu_button {
  z-index: 100;
  cursor: pointer;
  background-color: transparent;
  animation: pop 0.5s ease 1s both;
  top: 5%;
  right: 5%;
}

.divein:hover {
  background-color: var(--contrast);
  transition: 0.2s ease;
  color: var(--dark);
  box-shadow: 0px 0px 10px var(--contrast);
  animation: shake 1s forwards;
}

.scrolltop {
  display: none;
  width: 75px;
  position: fixed;
  right: 5%;
  bottom: 5%;
  z-index: 101;
  transition: 0.5s ease-in-out;
}

.scrolltop:hover {
  transform: translateY(-8px);
  transition: 0.5s ease infinite alternate;
}

.back_button {
  position: fixed;
  top: 5%;
  left: 5%;
  border-radius: 50%;
  cursor: pointer;
  z-index: 500;
}

/* BUTTONS & IMAGES */

.section1_text {
  width: 50vw;
  min-height: 50vh;
  position: absolute;
  top: 10%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -10%);
  padding: 3% 6%;
  animation: appear 2s ease both 1s;
}

.section_last {
  height: 50vh;
  background-image: url(svg/fiszka3.png);
  background-repeat: no-repeat;
}

.section_last,
.section_socials {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.card {
  width: 32%;
  max-height: 50%;
  margin: 2rem 0;
  background-color: var(--light2);
  opacity: 0.7;
  border-radius: var(--b-r);
  overflow: hidden;
  display: inline-block;
  transition: 0.3s ease-in;
}

.card:hover {
  box-shadow: 0px 0px 25px var(--light2);
  color: var(--dark2);
}

.fishbox {
  position: relative;
}

.fish1 {
  position: absolute;
  bottom: 10%;
  max-width: 20%;
  animation: float 3s ease-out infinite alternate;
  transform-origin: right;
  transform-box: fill-box;
  object-fit: contain;
}

.fish2 {
  max-width: 20%;
  position: absolute;
  right: 5%;
  bottom: 15%;
  animation: float2 2s ease-in-out infinite alternate;
  transform-origin: right;
  transform-box: fill-box;
  object-fit: contain;
}

.fin1 {
  animation: fin1 1s ease-in-out alternate-reverse infinite;
  transform-origin: top;
  transform-box: fill-box;
}

/* FOOTER */
footer {
  height: 20vh;
  background-image: url(svg/wave.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

/* GALLERY PAGE */

.gallery-container {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes shake {
  0% {
    transform: skew(5deg, 5deg);
  }
  20% {
    transform: skew(-5deg, -5deg);
  }
  40% {
    transform: skew(5deg, 5deg);
  }
  60% {
    transform: skew(-5deg, -5deg);
  }
  80% {
    transform: skew(5deg, 5deg);
  }
  100% {
    transform: scale(1.1);
  }
}
@keyframes pop {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes float {
  to {
    transform: translateY(1.5rem);
  }
}
@keyframes float2 {
  to {
    transform: translateY(-20%);
  }
}
@keyframes flip {
  to {
    transform: rotateY(360deg);
    opacity: 1;
  }
}
@keyframes fin1 {
  to {
    transform: rotate(15deg);
  }
}

@media screen and (max-width: 300px) {
  h2 {
    font-size: 1.3rem;
  }
  h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .menu {
  }

  .menu > li {
  }

  .card {
    width: 70%;
    height: 80%;
  }
  .container {
    height: 100%;
    width: 100%;
    font-size: 0;
    margin: 0 auto;
    display: block;
  }

  .divein {
    margin-top: 2rem;
    font-size: 1.3rem;
    padding: 4% 6%;
  }
  .section_half {
    width: 100%;
  }

  .container_top {
    height: 100vh;
  }

  .text_about {
    max-height: 80%;
    max-width: 80%;
  }

  .bug_img {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .section_full {
    min-height: 50vh;
  }
  .section_half {
    width: 100%;
  }
  .section_last {
    background-image: none;
  }
  .me_img {
    max-width: 70%;
  }
  .social_img {
    width: 10%;
  }
}

@media screen and (min-width: 1450px) {
  .container {
    margin-top: 15%;
  }
  .me_img {
    max-width: 75%;
  }
}
@media screen and (min-width: 2200px) {
  body {
    font-size: 1.5rem;
  }

  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2rem;
  }

  ul > li {
    margin: 2rem;
    border-radius: var(--b-r);
    min-width: 30rem;
    font-weight: bold;
    background-color: var(--violet);
    opacity: 0.8;
    font-size: 3rem;
    padding: 3% 6%;
  }

  .social_img {
    width: 5%;
  }
  .button_img {
    width: 100px;
  }
  .span_tiny {
    font-size: 1rem;
  }
  .card {
    width: 25%;
    margin: 15% 3rem;
  }
  .container_top {
    margin: 20% auto;
  }
}
